/*  Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575px) {

#navMenu{
    display: block;
    background-color: #000000f0;
    padding: 0;
    height: 16%;
    min-height: 60px;
    max-height: 78px;
}    

#navMenu img {
    width: 47px;
}
#burger{
    width: 46px;
    margin-right: 9%;
    height: 30px;
    margin-top: 14px;
    border: none;
    border-radius: 6px;
    background: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    outline: none;
    position: absolute;
    left: 87%;
    bottom: 28%;
}

.item-contact {
    font-size: 0.9em;
}

.cutlet{
  tranition: 1s;
  width: 26px;
  height:3px;
  border:none;
  background:#1748f7;;
}

.oneCutlet{
    transform: rotate(-45deg) translate(-6px, 6px); 
} 

.threeCutlet{
  transform: rotate(45deg) translate(-7px, -7px);
}

#wraper{
    height: 100%;
    width: 100%;
    display: block;
}

.links{
    
    position: relative;
    display: block;
    top: 0;
    margin: 0;
    left: 0px;
    width: 100%;
    height: 0px;
    list-style: none;
    padding: 0;
    background: #000000f0;
    overflow: hidden;
}

.item-menu{
    display: block;
}

.hideCutlet{
  opacity: 0;
}

.lines{
  transition: 300ms;
  margin-top: 0px;
}


#slogonDiv {
    top: 9%; 
}

    .text1 p{
        width: 100% !important;
    }
    .icon{
        margin-top: 35px;
    }
    .icons1{
        display: block;
    }
    .check{
        display: block;
    }
    .check2{
        text-align: left;
        float: left;
        margin: 0 auto;
        margin-left: 10px;
    }
    .checkone{
        text-align: center;
        margin-top: 2%;
    }
    .bucks{
        margin-top: 30px;
    }
    .iconcheck1{
        padding: 10px;
    }
    .iconcheck{
        padding: 10px;
    }
    .iconcheckk{
        margin: 0 auto;
    }
    .one{
        width: 80%;
        height: auto;
        margin-left: 3.7em;
        margin-top: 30px;
    }
    .class{
        height: auto;
        top: 2em;
    }
    .last{
        height:auto;
        margin-top: 30px;
    }
    .fontpast{
        top: -16px;
        margin-left: 30%;
    }
    #fontid{
        margin-left: 29%;
    }
    .butt{
        margin-left: 41%;
    }
    .filter23{
        width: 69.7%;
        height: 34.4%;
    }
    .lastfirst{
        margin-top: 50px;
    }
    .address{
        width: 100%;
        margin-left: 1em;
    }
    .address1{
        display: block;
        text-align: center;
        width: 100%;
    }
    .adress2 {
        width: 100%;
        text-align: center;
        margin-left: 1px;
        display: inline-block;
    }
    .red1{
        text-align: center;
    }
    #line{
        text-align: center;
        margin: 0 auto;
    }
    #sections{
        display: block;
    }
    #ContLogo{
        margin: 0 auto;
        text-align: center;
        width: 100%;
    }
    #ContLogo img{
        text-align: center;
        margin: 0 auto;
        margin-top: 10px;
    }
    #sections{
        width: 100%;
        line-height: 27px;
    }
    #contactFoter{
        text-align: center;
        width: 100%;
        bottom: 50px;
    }
    #footer{
        height:80vh;
    }
    .before1:before{
        position: relative;
        left: 0;
        top: 0;
    }
    .before2:before{
        position: relative;
        left: 0;
        top: 0;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767px) {
    .text1 p{
        width: 100% !important;
    }
    .icon{
        margin-top: 35px;
    }
    .icons1{
        display: block;
    }
    .check{
        display: block;
    }

#slogonDiv {
    top: 9%; 
}
    .check2{
        text-align: left;
        float: left;
        margin: 0 auto;
        margin-left: 10px;
    }
    .checkone{
        text-align: center;
        margin-top: 2%;
    }
    .bucks{
        margin-top: 30px;
    }
    .iconcheck1{
        padding: 10px;
    }
    .iconcheck{
        padding: 10px;
    }
    .iconcheckk{
        margin: 0 auto;
    }
    .one{
        width: 80%;
        height: auto;
        margin-left: 3.7em;
        margin-top: 30px;
    }
    .class{
        height: auto;
        top: 2em;
    }
    .last{
        height:auto;
        margin-top: 30px;
    }
    .fontpast{
        top: -16px;
        margin-left: 30%;
    }
    #fontid{
        margin-left: 29%;
    }
    .butt{
        margin-left: 41%;
    }
    .filter23{
        width: 69.7%;
        height: 34.4%;
    }
    .lastfirst{
        margin-top: 50px;
    }
    .address{
        width: 100%;
        margin-left: 1em;
    }
    .address1{
        display: block;
        text-align: center;
        width: 100%;
    }
    .adress2 {
        width: 100%;
        text-align: center;
        margin-left: 1px;
        display: inline-block;
    }
    .red1{
        text-align: center;
    }
    #line{
        text-align: center;
        margin: 0 auto;
    }
    #sections{
        display: block;
    }
    #ContLogo{
        margin: 0 auto;
        text-align: center;
        width: 100%;
    }
    #ContLogo img{
        text-align: center;
        margin: 0 auto;
        margin-top: 10px;
    }
    #sections{
        width: 100%;
        line-height: 27px;
    }
    #contactFoter{
        text-align: center;
        width: 100%;
        bottom: 50px;
    }
    #footer{
        height:80vh;
    }
    .before1:before{
        position: relative;
        left: 0;
        top: 0;
    }
    .before2:before{
        position: relative;
        left: 0;
        top: 0;
    }

}

/*  Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {
    .text1 p{
        width: 100% !important;
    }
    .icon{
        margin-top: 35px;
    }
    .icons1{
        display: inline-block;
        padding: 0 35px;
    }
    .check{
        display: block;
    }
    .center1{
        height: auto;
    }
    .center-text1{
        margin-top: 2em;
    }
    #windows {
        height: 100%;
    }
    .check2{
        text-align: left;
        float: left;
        margin: 0 auto;
        margin-left: 10px;
    }
    .checkone{
        text-align: center;
        margin-top: 2%;
    }
    .bucks{
        margin-top: 30px;
    }
    .iconcheck1{
        padding: 10px;
    }
    .iconcheck{
        padding: 10px;
    }
    .iconcheckk{
        margin: 0 auto;
    }
    .one{
        width: 83%;
        height: auto;
        margin-top: 30px;
    }
    .class{
        height: 228vh;
        top: 2em;
    }
    .last{
        height:auto;
        margin-top: 30px;
    }
    .fontpast{
        top: -16px;
        margin-left: 30%;
    }
    #fontid{
        margin-left: 29%;
    }
    .butt{
        margin-left: 41%;
    }
    .filter23{
        width: 52.7%;
        height: 26.4%;
    }
    .filter1{
        height: 84%;
    }
    iframe{
        height: 83vh;
    }
    .lastfirst{
        margin-top: 50px;
        height: 80vh;
    }
    .address{
        width: 100%;
        margin-left: 1em;
    }
    .address1{
        display: block;
        text-align: center;
        width: 100%;
    }
    .adress2 {
        width: 100%;
        text-align: center;
        margin-left: 1px;
        display: inline-block;
    }
    .red1{
        text-align: center;
    }
    #line{
        text-align: center;
        margin: 0 auto;
    }
    #sections{
        display: block;
    }
    #ContLogo{
        margin: 0 auto;
        text-align: center;
        width: 100%;
    }
    #ContLogo img{
        text-align: center;
        margin: 0 auto;
        margin-top: 10px;
    }
    #sections{
        width: 100%;
        line-height: 27px;
    }
    #contactFoter{
        text-align: center;
        width: 100%;
        bottom: 50px;
    }
    #footer{
        height: 59vh;
    }
    .before1:before{
        position: relative;
        left: 0;
        top: 0;
    }
    .before2:before{
        position: relative;
        left: 0;
        top: 0;
    }

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) {

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}